/* ? Reset CSS */
* {
    padding: 0;
    margin: 0;
    /* include border and padding in element's total size */
    box-sizing: border-box;
}

/* set font for website */
html {
    font-family: Helvetica, Arial, sans-serif;
}
/*
1. outside to inside
2. top-down approach 
 */
/* 
1. position
2. size (width, height)
3. color
4. shape
*/
#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav, .subnav {
    list-style-type: none;
}

#nav {

}

#nav > li {
    display: inline-block;
}

#nav li {
    /* have the inline properties but still keep the
    properties of block for modifying size */
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    /* transform to uppercase */
    text-transform: uppercase;
    color: #fff;
}

#nav li a {
    /* a has display inline so it doesnt have size */
    /* remove the underline */
    text-decoration: none;
    /* center word */
    line-height: 46px;
    padding: 0 24px;
    /* now a has height equal to its line height */
    display: block;
}

/* why not a:hover? cause when navigate to subnav, the
hover properties of ul should be kept */
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

/* ! inline-block is a display type half block half inline
   ! it can have parameter lenght and width of block
   ! but it cannot inherit width of parent tag (inline) */

#nav .subnav {
    /* hide the element */
    display: none;
    /* position based on the nav li */
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    /* ! use the number multiple by 4 */
    padding: 0 12px;
    line-height: 38px;
}

#slider {
    min-height: 500px;
    background-color: #000;
}

#content {

}

#footer {

}
